PORT=4500
FRONTEND_URL=http://localhost:5173
MONGO_DB_URI=

JWT_SECRET=

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

GMAIL_USERNAME=
GMAIL_PASSCODE=
RAZORPAY_KEY_ID=
RAZORPAY_KEY_SECRET=

NODE_ENV=development

# Admin Seed Configuration (Used by npm run seed:admin)
ADMIN_EMAIL=
ADMIN_PASSWORD=
ADMIN_FULL_NAME=
ADMIN_PHONE=
